-- AlterTable
ALTER TABLE "orders" ADD COLUMN     "is_manual_logistics" BOOLEAN NOT NULL DEFAULT false;

-- CreateIndex
CREATE UNIQUE INDEX "courier_providers_name_key" ON "courier_providers"("name");

-- CreateIndex
CREATE UNIQUE INDEX "courier_providers_tracking_url_key" ON "courier_providers"("tracking_url");

-- CreateIndex
CREATE UNIQUE INDEX "riders_name_key" ON "riders"("name");

-- CreateIndex
CREATE UNIQUE INDEX "riders_phone_key" ON "riders"("phone");

-- AddForeignKey
ALTER TABLE "shipping_rules" ADD CONSTRAINT "shipping_rules_courier_provider_id_fkey" FOREIGN KEY ("courier_provider_id") REFERENCES "courier_providers"("id") ON DELETE SET NULL ON UPDATE CASCADE;

